@import '_pure';

header {
    .logo {
        text-indent: -5000em;
        background: url(../img/logo.svg) no-repeat;
        background-size: 131.4px 69.5px;
        width: 140px;
        height: 70px;
    }
}

#layout {
    padding: 0 10px;    
}